<div class="row text-center">
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Total Books</h5>
                <p class="fs-1 mb-0">@ViewBag.TotalBooks</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5>Total Members</h5>
                <p class="fs-1 mb-0">@ViewBag.TotalMembers</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h5>Borrowed</h5>
                <p class="fs-1 mb-0">@ViewBag.TotalBorrowed</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <h5>Overdue</h5>
                <p class="fs-1 mb-0">@ViewBag.TotalOverdue</p>
            </div>
        </div>
    </div>
</div>
